*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
output.json
.idea/
.vscode/
*.hprof
.cxx/
local.properties
keystore.properties
*.jks
*.keystore
/app/release/
/app/debug/
*.log
.kotlin/

# Local Android signing keys
signing/
